ul {
    list-style-type: none;
   

  
    overflow: hidden;
    border: 1px solid #e7e7e7;
	background-color: gray;
}

li {
    float: left;
}
li:last-child {
   float: right;
 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {

	background-color: silver;
	text-decoration: none;
	color: white;
}


#row{
	margin: 60px 70px 20px;


}
#usr{
	
	width: 60%;
}

#name{
	
	width: 60%;
}
#password{
	
	width: 60%;
}


#email{
	
	width: 60%;
}

#passwordconfirm{
	
	width: 60%;
}

#phone{
	
	width: 60%;
}

#changephone{
	
	width: 60%;
}

#txtZipCode{
	
	width: 60%;
}
#changeemail{
	
	width: 60%;
}

#changepassword{
	
	width: 60%;
}
#newpassword{
	
	width: 60%;
}
#confirmnewpassword{
	
	width: 60%;
}

#changename{
	
	width: 60%;
}
#birthday{
	
	width: 60%;
}
#rad{
	margin-left: 10px;
}
#col2{
	margin-bottom: 10px;
	}

#col3{
	margin-top: 140px;
	
}
#email1{
	
	width: 60%;
}

#password1{
	
	width: 60%;
}
#city{
	
	width: 60%;
}

#state{
	
	width: 60%;
}
#zipcode{
	
	width: 60%;
}


.zipcode{
	
	width: 60%;
}